/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  } */
  .dnd {
    list-style: none;
    padding: 0px;
    /* width: 500px; */
    /* margin: auto; */
  }
  .dnd li{
    border-bottom: 1px solid lightgray;
    display: flex;
  }
  .drag-li {
    cursor: move;
    /* background-color: red; */
    color: #fff;
    padding: 10px;
    margin-bottom: 1px;
    transition: all 0.2s;
    width: 78%;
    
  }
  .drag-li:hover {
    background-color: #003366!important;
  }

  .slec-time{
    border-right: 1px solid gray;
    padding: 10px;
    width: 22%;
  }

  .blocked-slot ~ .drag-li{
      display: none;
  }

  .meetingSlot ~ .drag-li{
    display: none;
  }